/* Container VBox */
.left-sidebar {
    -fx-background-color: #181818;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-pref-width: 40;

    -fx-border-color: #2b2b2b;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

/* Button chrome */
.sidebar-button {
    -size: 32;
    -icon-size: 24;
    -icon-color: #808080;
    -icon-hover-color: #ffffff;

    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-padding: 4;
}

.sidebar-button:hover {
    -fx-background-color: #444444;
}

.sidebar-icon {
    -fx-effect: innershadow(gaussian, -icon-color, 10, 0.7, 0, 0);
}

.sidebar-button:hover .sidebar-icon {
    -fx-effect: innershadow(gaussian, -icon-hover-color, 10, 0.7, 0, 0);
}
