.root {
    datapack-background: #1e1e1e;
    datapack-background-accent: 2b2b2b;
    datapack-dark: 111111;
    datapack-border: b3b3b3;

    datapack-text: #f2f2f2;


    datapack-success: #4CAF50;
    datapack-warning: #FFC107;
    datapack-error: #F44336;
}
