/* Window Controls Container */
.window-controls {
    -fx-background-color: transparent;
    -fx-spacing: 0;
    -fx-alignment: center-right;
}

/* Window Control Buttons */
.window-control-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-min-width: 46;
    -fx-max-width: 46;
    -fx-pref-width: 46;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-pref-height: 32;
    -fx-cursor: hand;
}

.window-control-button:hover {
    -fx-background-color: #404040;
}

/* Style for the icons within the buttons */
.window-control-button .image-view {
    -fx-fit-height: 10px;
    -fx-fit-width: 10px;
}

.minimize-button {
    -icon-color: #e2e7ef;
}

.minimize-button:hover {
    -icon-hover-color: #f8f8f8;
    -fx-background-color: #404040;
}

.maximize-button {
    -icon-color: #e2e7ef;
}

.maximize-button:hover {
    -icon-hover-color: #f8f8f8;
    -fx-background-color: #404040;
}

.close-button {
    -icon-color: #e2e7ef;
}

.close-button:hover {
    -icon-hover-color: #f8f8f8;
    -fx-background-color: #e81123;
}