.right-bar {
    -fx-background-color: -color-neutral-subtle;
}

.left-bar {
    -fx-background-color: -color-neutral-subtle;
}

.top-bar {
    -fx-background-color: -color-neutral-subtle;
}

.bottom-bar {
    -fx-background-color: -color-neutral-subtle;
}