.settings-top-bar {
    -fx-background-color: -color-bg-subtle;
    -fx-border-color: -color-border-default;
}

.settings-actions-bar {
    -fx-background-color: -color-bg-subtle;
    -fx-border-color: -color-border-default;
}
